<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Remote Data Science For Hire</title>
    <!-- CSS Flex Layout -->
    <link rel="stylesheet"  href="../static/css/awesome-ds.css">
</head>
<body style="max-width:1560px;margin:0 auto 0 auto;justify-content:center;">
    <div style="position:fixed;z-index:-99;width:100%;height:100%;max-width:1560px;">
        <iframe src="https://{{ host_url }}/_dash/" frameborder="0" height="100%" width="100%" scrolling="no" style="display:block;"></iframe>
    </div>
    <div>
        {% include 'navbar.html' %}
        <div class="row" style="justify-content:center;margin-top:15px;">
            <div class="column border padding" style="max-width:780px">
                <h1>Remote Data Science For Hire</h1>
                <p>Hi! If you need help with your data science project, 
                    then you're in the right place. 
                    Please check my profile to see my skill set and contact details. 
                    Feel free to reach out if you have any questions!</p>
                <p> As you might have guessed from the title, I work remotely =) 
                    I'm okay with occasional business trips and meetups.</p>
            </div>
        </div>
    </div>
</body>
</html>
