<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Data Science Profile</title>
     <!-- CSS Flex Layout -->
    <link rel="stylesheet"  href="/static/css/awesome-ds.css">
</head>
<body style="max-width:1560px;margin:0 auto 0 auto;">
    <div class="row">
        <div class="column">
            <h1 style="margin-bottom:0px;">Yaroslav Kopotilov, Data Scientist</h1>
            <h3 style="margin-top:15px;margin-bottom:10px;">Remote positions only</h3>
        </div>
    </div>

    <div class="" style="display:flex;flex-direction:row;justify-content:center;align-items:center;margin-bottom:15px">
        <div class="centered" style="display:flex;flex-direction:row;flex: 0 1 500px; justify-content:space-evenly">
            <a href="https://www.toptal.com/resume/yaroslav-kopotilov"><img class="icon" src="/static/images/toptal2_logo.svg" alt="Toptal"></a>
            <a href="https://www.linkedin.com/in/ykopotilov/"><img class="icon" src="/static/images/linked2_logo.png" alt="LinkedIn"></a>
            <a href="https://github.com/mysterious-ben"><img class="icon" src="/static/images/github2_logo.png" alt="GitHub"></a>
            <p class="icon_email">{{email_name}}<span style="display: none;">REMOVE</span>@{{email_domain}}</p>
        </div>
<!--        <div class="row centered" style="flex: 0 1 280px;justify-content:center;align-items:center;">-->
<!--        </div>-->
    </div>

    <div class="row">
        <div class="column border padding">
            <h3>Skills</h3>
            <h4>Machine Learning</h4>
            <ul>
                <li>Supervised: Linear | GAM | Random Forests | Boosting | Bayesian | State Space</li>
                <li>Unsupervised: Embeddings | Clusters</li>
                <li>Deep: Feedforward Neural Networks | CNN | RNN</li>
            </ul>
            <div class="indent"><code>sklearn</code> <code>statsmodels</code> <code>lightgbm</code> <code>skopt</code> <code>tpot</code> <code>numpyro</code> <code>pytorch</code> <code>tensorflow</code></div>

            <h4>Data Engineering</h4>
            <ul>
                <li>Data wrangling with SQL, NoSQL and messaging systems</li>
                <li>Cloud storage and computing</li>
            </ul>
            <div class="indent"><code>pandas</code>  <code>dask</code>  <code>requests</code>  <code>imaplib</code>  <code>STOMP</code>  <code>SQL</code>  <code>SQLAlchemy</code>  <code>AWS-S3</code>  <code>AWS-Athena</code>  <code>Spark</code></div>

            <h4>Reproducible ML</h4>
            <ul>
                <li>Versioned and reproducible ML experiments</li>
                <li>Well-documented high-quality code</li>
            </ul>
            <div class="indent"><code>mlflow</code>  <code>environments</code>  <code>Docker</code>  <code>Git/GitHub</code>  <code>Confluence</code></div>

            <h4>MLOps</h4>
            <ul>
                <li>End-to-end ML pipelines</li>
                <li>Model testing, deployment and monitoring</li>
            </ul>
            <div class="indent"><code>prefect</code>  <code>Docker</code>  <code>Ansible</code>  <code>pytest</code>  <code>pre-commit</code>  <code>Git/GitHub</code>  <code>ELK</code>  <code>Sentry</code>  <code>REST</code></div>

            <h4>Numerical Computation</h4>
            <ul>
                <li>Convex and non-convex optimization problems</li>
                <li>High-performance computing</li>
            </ul>
            <div class="indent"><code>numpy</code>  <code>scipy</code>  <code>numba</code>  <code>jax</code></div>

            <h4>Data Visualization</h4>
            <ul>
                <li>Interactive plots</li>
                <li>Web dashboards</li>
            </ul>
            <div class="indent"><code>jupyter</code>  <code>matplotlib</code>  <code>plotly</code>  <code>dash</code>  <code>flask</code>  <code>waitress</code>  <code>HTML</code></div>

            <h4>Industry Knowledge</h4>
            <ul>
                <li>Algorithmic trading</li>
                <li>Optimal order execution and market impact</li>
                <li>Equity and energy markets</li>
                <li>Exotic option pricing</li>
            </ul>
            
           <p><b>Stack:</b> Python | C++ | Bash</p>
           <p><b>Other:</b> Project management | Team leading | Mentorship</p>
        </div>

        <div class="column border padding" style="justify-content: space-between">
            <h3>Work Experience</h3>
            <dl class="bmargin">
                <dt>07/2020 - present: Data Science, Toptal, Remote</dt>
                <dd>Building abstract models that add real value</dd>
                <dt>01/2019 - 07/2020: Data Science, Vitol, London</dt>
                <dd>Conquering energy markets with the power of ML</dd>
                <dt>01/2019 - 06/2020: Model Validation, JPMorgan, London</dt>
                <dd>Challenging pricing models for commodity options</dd>
                <dt>05/2016 - 10/2016: Algorithmic Trading, Credit Suisse, London</dt>
                <dd>Seeking for alpha in commodity and equity markets</dd>
                <dt>02/2015 - 07/2015: Research, Novosibirsk State University</dt>
                <dd>Writing a paper on image classification for one particular type of shapes</dd>
            </dl>

            <h3>Academia Degrees</h3>
            <dl class="bmargin">
                <dt>MSc in Financial Mathematics, Pierre and Marie Curie University</dt>
                <dd>DEA El Karoui: top Financial Mathematics program in France</dd>
                <dt>MSc in Applied Mathematics, Ecole Polytechnique</dt>
                <dd>Cycle d'Ingénieur polytechnicien: top Engineering program in France</dd>
                <dt>MSc in Mathematics and Computer Science, Novosibirsk State University</dt>
                <dt>BSc in Probability and Statistics, Novosibirsk State University</dt>
            </dl>

            <h3>Personal Projects</h3>
            <dl>
                <dt>Algorithmic trading</dt>
                <dd>A mid-to-high frequency ML-powered strategy (proprietary)</dd>
                <dt>Data wrangling tools</dt>
                <dd>Data pipelines with caching <a href="https://github.com/mysterious-ben/apipe">(link)</a> & an efficient XML parser <a href="https://github.com/mysterious-ben/xmlrecords">(link)</a></dd>
                <dt>Interactive website</dt>
                <dd>This very website powered by Flask + Dash <a href="https://github.com/mysterious-ben/intro-website">(link)</a></dd>
                <dt>Forecast Sales Kaggle Competition</dt>
                <dd>A surprisingly simple model that won the competition <a href="https://www.kaggle.com/myster/eda-prophet-winning-solution-3-0/">(link)</a></dd>
                <dt>Embeddings in Machine Learning</dt>
                <dd>An article discussing what embeddings are and how to use them <a href="https://www.toptal.com/machine-learning/embeddings-in-machine-learning">(link)</a></dd>
                <dt>Popular classification algorithms</dt>
                <dd>A comparison study using data from Titanic Kaggle competition <a href="https://github.com/mysterious-ben/titanic">(link)</a></dd>
            </dl>
        </div>
    </div>
</body>