<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Data Science Profile</title>

     <!-- CSS Flex Layout -->
    <link rel="stylesheet"  href="/static/css/awesome-ds.css">
</head>
<body style="max-width:1560px;margin:0 auto 0 auto;">
    <div class="row">
        <div class="column">
            <h1 style="margin-bottom:0px;">Yaroslav Kopotilov, Data Scientist</h1>
            <h3 style="margin-top:15px;margin-bottom:10px;">Python, Full Stack, Remote positions only</h3>
        </div>
    </div>

    <div class="" style="display:flex;flex-direction:row;justify-content:center;align-items:center;margin-bottom:15px">
        <div class="centered" style="display:flex;flex-direction:row;flex: 0 1 500px; justify-content:space-evenly">
            <a href="{{toptal_profile_link}}"><img class="icon" src="/static/images/toptal2_logo.svg" alt="Toptal"></a>
            <a href="{{linkedin_profile_link}}"><img class="icon" src="/static/images/linked2_logo.png" alt="LinkedIn"></a>
            <a href="{{github_profile_link}}"><img class="icon" src="/static/images/github2_logo.png" alt="GitHub"></a>
            <p class="icon_email">{{email_name}}<span style="display: none;">REMOVE</span>@{{email_domain}}</p>
        </div>
<!--        <div class="row centered" style="flex: 0 1 280px;justify-content:center;align-items:center;">-->
<!--        </div>-->
    </div>

    <div class="row">
        <div class="column border padding">
            <h3>Skills</h3>
            <h4>Machine Learning</h4>
            <ul>
                <li>Typical Supervised: Linear, GAM, Random Forests + Boosting, Bayesian</li>
                <li>Typical Unsupervised: Embeddings, Cluster Analysis</li>
                <li>Time Series: Spate Space Models</li>
                <li>Also: Feature Engineering, Model Regularization, Model Tuning</li>
            </ul>
            <div class="indent"><code>scikit-learn</code> <code>statsmodels</code> <code>lightgbm</code> <code>scikit-optimize</code> <code>numpyro</code></div>

            <h4>Data Engineering</h4>
            <ul>
                <li>Data Crunching and Cleaning: SQL, Python</li>
                <li>Cloud Storage and Computing: AWS S3 + Athena, Spark SQL</li>
            </ul>
            <div class="indent"><code>pandas</code> <code>dask</code> <code>sqlite3</code> <code>cx_oracle</code> <code>sqlalchemy</code> <code>boto3</code> <code>pyspark</code></div>

            <h4>Software Engineering</h4>
            <ul>
                <li>End-to-End ML Pipelines</li>
                <li>Production-Ready Code with Tests, Logging and Monitoring</li>
                <li>High-Performance Computations</li>
            </ul>
            <div class="indent"><code>prefect</code> <code>requests</code> <code>pytest</code> <code>logging</code> <code>Kibana</code> <code>Git</code> <code>numba</code> <code>jax</code></div>

            <h4>Data Visualization</h4>
            <ul>
                <li>Interactive Plots</li>
                <li>Web Dashboards</li>
            </ul>
            <div class="indent"><code>matplotlib</code> <code>plotly</code> <code>dash</code> <code>flask</code></div>

            <h4>Other</h4>
            <ul>
                <li>Knowledge of Systematic Trading and Optimal Order Execution</li>
                <li>Knowledge of Crude and Power Markets</li>
                <li>Project Management </li>
                <li>Stakehodler Engagement</li>
            </ul>
        </div>

        <div class="column border padding" style="justify-content: space-between">
            <h3>Work Experience</h3>
            <dl class="bmargin">
                <dt>07/2020 - present: Remote Data Science, Toptal</dt>
                <dd>Building abstract models that add real value</dd>
                <dt>01/2019 - 07/2020: Data Science, Vitol</dt>
                <dd>Conquering energy markets with the power of ML</dd>
                <dt>01/2019 - 06/2020: Model Validation, JPMorgan</dt>
                <dd>Challenging pricing models for commodity options</dd>
                <dt>05/2016 - 10/2016: Algorithmic Trading, Credit Suisse</dt>
                <dd>Seeking for alpha in commodity and equity markets</dd>
            </dl>

            <h3>Academia Degrees</h3>
            <dl class="bmargin">
                <dt>MSc in Financial Mathematics, Pierre and Marie Curie University</dt>
                <dt>MSc in Applied Mathematics, Ecole Polytechnique</dt>
                <dt>MSc in Mathematics and Computer Science, Novosibirsk State University</dt>
                <dt>BSc in Probability and Statistics, Novosibirsk State University</dt>
            </dl>

            <h3>Personal Projects</h3>
            <dl>
                <dt>Yet another XML parser</dt>
                <dd>A simple yet efficient python package to parse XML <a href="{{xmlparser_project_link}}">(link)</a></dd>
                <dt>Interactive Website</dt>
                <dd>This very website via Flask + Dash <a href="{{website_project_link}}">(link)</a></dd>
                <dt>Forecast Sales Kaggle Competition</dt>
                <dd>A surprisingly simple model that won the competition <a href="{{sales_project_link}}">(link)</a></dd>
                <dt>Embeddings in Machine Learning</dt>
                <dd>An article discussing what embeddings are and how to use them <a href="{{embeddings_project_link}}">(link)</a></dd>
            </dl>
        </div>
    </div>
</body>