<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Data Science For Hire</title>

     <!-- CSS Flex Layout -->
    <link rel="stylesheet"  href="../static/css/awesome-ds.css">

</head>
<body>
    <div class="row">
        <div class="column"><h1>Remote Data Science For Hire</h1></div>
    </div>
    <div class="row">
        <div class="column"><h2>AI</h2></div>
        <div class="column"><h2>Big Data</h2></div>
        <div class="column"><h2>Cloud Computing</h2></div>
        <div class="column"><h2>Deep Neural Networks</h2></div>
    </div>
    <div class="row">
        <div class="column"><h3>...and now, when we covered all the buzzwords, please click here to see the actual skills...</h3></div>
    </div>
    <iframe src="/_dash" height="100%" width="100%" frameBorder="0"></iframe>
</body>
</html>