<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta charset="UTF-8" http-equiv="Content-Security-Policy">
    <title>Remote Data Science For Hire</title>
    <!-- CSS Flex Layout -->
    <link rel="stylesheet"  href="../static/css/awesome-ds.css">
</head>
<body>
    <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
        <iframe src="/_dash" frameborder="0" height="100%" width="99%" scrolling="no"></iframe>
    </div>

    <div class="row">
        <div class="column centered">
            <h1>Remote Data Science For Hire</h1>
            <p>Are you in need of a data scientist? You are in the right place!</p>
        </div>
    </div>
    <div class="row">
        <div class="column centered">
            <a href="/cv"><h2 style="margin:15px 15px">
                <span style="width:100%; display:inline-block">...click here to see the profile...</span>
            </h2></a>
        </div>
    </div>
</body>
</html>
